.liked-songs-playlist-info {
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.liked-songs-playlist-img {
    width: 100%; 
    max-width: 200px; 
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    object-fit: cover;
}

h1.header {
    font-size: 5rem;
}
