.register-container {
    padding: 20px;
    min-height: 100vh;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}