.register-container {
    padding: 20px;
    min-height: 100vh;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    color: #ffffff; /* Style label text */
    margin-bottom: 5px;
}

p {
    color: #f1f1f1;
}