.search-buttons-container {
    display: flex;
    gap: 10px;  /* Space out buttons */
    margin-bottom: 10px;
}

/* CUSTOM STYLING FOR SEARCH INPUT*/
.search-input { 
    width: 500px;   /* Override Fixed width */
    max-width: 100%;
}

.search-input:focus {
    outline: none;
    border-color: #6a1b9a;
    background-color: #181818;
}

.top-result {
    border: 3px solid #6a1b9a; 
    background-color: #282828; 
    transform: scale(1.02); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 80px;
    border-radius: 5px;
}

.top-result:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.result-container.top-result {
    height: 200px;
}

.result-container.top-result .result-content {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    padding-top: 40px;
}
.result-container.top-result .result-title {
    padding-top: 30px;
    font-size: xx-large;
}

