.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.search-input-wrapper, .search-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.search-input { 
    width: 500px;   /* Override Fixed width */
    max-width: 100%;
    padding-left: 40px; /* Make space for the icon*/
    border-radius: 25px;
}

.search-icon {
    color: #888;
    font-weight: bold;
    font-size: 30px;
    left: 10px;
    top: 50%;
    transform: translate(47px, 3px);
    transition: color 0.3s ease-in-out;
}

.search-input:focus {
    outline: none;
    background-color: #4a4a4a;
}

/* Change icon color when input is focused */
.search-input-wrapper:focus-within .search-icon {
    color: #ffffff;
}


.profile-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-button:hover {
    transform: scale(1.05); /* Slight zoom-in effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff; /* Add a border for emphasis */
}

/* Dropdown styles */
.profile-dropdown {
    background-color: #1e1e1e;
    position: relative;
    top: 70px; /* Adjust to appear below the button */
    right: 0;
    z-index: 1000; /* On top of other elements */
    font-size: 14px;
    color: #f1f1f1;
    z-index: 100;
}

.profile-dropdown .option {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.profile-dropdown .option:hover {
    background-color: #272727; /* Subtle hover effect */
}