@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.app-body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

/* Target Webkit browsers */
.app-body::-webkit-scrollbar {
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

/* Visible scrollbar styles */
.app-body.scroll-visible::-webkit-scrollbar {
    visibility: visible;
    width: 10px;
}

.app-body::-webkit-scrollbar-thumb {
    opacity: 0; /* Start invisible */
    transition: background 0.5s ease, opacity 0.5s ease-in-out;
}

.app-body.scroll-visible::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    opacity: 1;
    
}

.app-body.scroll-visible::-webkit-scrollbar-thumb:hover {
    background: #888;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

h1.header {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 100;
    font-size: 2rem;
    height: 80px;
    display: flex; 
    align-items: center;
    padding: 0 20px;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p a:visited,
p:visited {
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
}
