@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.navbar {
    font-family: 'Montserrat', sans-serif;
    width: 13.2%;
    height: 84.5%;
    background-color: #121212;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0; /* Push the list 20px down */
    flex-grow: 1;
}

.navbar-item {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.navbar-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; /* Make the entire area clickable */
}

.navbar-item a:hover {
    color: #6a1b9a;
}

.navbar-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: auto; /* Push the buttons to the bottom */
}

.navbar-buttons li {
    margin-top: auto; /* Push the logout button to the bottom */
}

.navbar-home-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Round button width */
    height: 50px; /* Round button height */
    border-radius: 50%; /* Make it round */
    background-color: #6a1b9a; /* Purple background */
    border: 2px solid white; /* White border */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-home-button:hover {
    background-color: #8e24aa; /* Lighter purple on hover */
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.logout-button {
    width: 100%; /* Make the logout button stretch to the full width */
    margin-top: 20px; /* Space from other buttons */
}

button, button a {
    color: inherit;
    text-decoration: none;
}

button a:visited,
button:visited {
    color: inherit;
    text-decoration: none;
}

.default-button {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border: 2px solid #d9d9d9;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.default-button:hover {
    background-color: #f1f1f1;
    color: #2a2a2a;
}
