@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.navbar {
    font-family: 'Montserrat', sans-serif;
    width: 200px; /* Slightly increase the width for better spacing */
    height: 100vh;
    background-color: #121212;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allow links to take available space */
}

.navbar-item {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.navbar-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; /* Make the entire area clickable */
}

.navbar-item a:hover {
    color: #6a1b9a;
}

.navbar-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-buttons li {
    margin-top: auto; /* Push the logout button to the bottom */
}

.navbar-home-button {
    width: 100%; /* Make the home button stretch to the full width */
    margin-bottom: 20px; /* Give some space below */
}

.logout-button {
    width: 100%; /* Make the logout button stretch to the full width */
    margin-top: 20px; /* Space from other buttons */
}

button, button a {
    color: inherit;
    text-decoration: none;
}

button a:visited,
button:visited {
    color: inherit;
    text-decoration: none;
}

.default-button {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border: 2px solid #d9d9d9;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.default-button:hover {
    background-color: #f1f1f1;
    color: #2a2a2a;
}
