@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.common-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    background-color: #2a2a2a;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.common-input:focus {
    outline: none;
    border-color: #ffffff;
    background-color: #2a2a2a;
}