@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.default-button {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border: 2px solid #d9d9d9;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-family: 'Montserrat', sans-serif; /* Assuming you want to use this font */
}

.default-button:hover {
    background-color: #f1f1f1; /* Inverse colors on hover */
    color: #2a2a2a;
}