.result-container {
    display: flex; /* Make the whole container clickable */
    text-decoration: none; /* Remove the underline from the link */
    background-color: #181818;
    border-radius: 8px;
    padding: 10px;
    min-height: 5vh;
    margin: 10px 0;
    transition: border 0.1s ease; /* Smooth transition for border */
    justify-content: flex-start;
    align-items: center; /* vertically center its contents */
    border: 2px solid transparent; /* Add transparent border to prevent other content from shifting around */
    position: relative; /* Needed for absolute positioning of child elements */
    z-index: 1; /* Default stacking order for the container !!! */
    
}

/* Styles for loading the containers */
.result-container {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    position: relative; /* To apply styles in its children */
}

.result-container.loaded {
    opacity: 1;
    transform: translateY(0);
}

.result-title {
    color: white;
    margin: 0;
    font-size: 1.2rem;
}

.result-subtitle {
    color: #6a1b9a;
    align-items: flex-end;
}

.result-container:hover h3 {
    color:white;
}

li {
    list-style-type: none;
    color: #f1f1f1;
}

.result-container.lodaed:hover {
    /* border: 2px solid #2a2a2a;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);  
    background-color: #2a2a2a; */
    transform: scale(1.05);
}

.result-content {
    display: flex;
    align-items: center;
}

/* Different styling based on item type */
.result-container:hover .playlist-result,
.result-container:hover .artist-result,
.result-container:hover .song-result {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Shadow effect instead of a border */
}

/* Different styling based on item type */
.result-container .playlist-result,
.result-container .artist-result,
.result-container .song-result {
    height: 80px;
    border-radius: 50%; /* Circular image for artists */
    /* border: 2px solid white; White border around the image */
    margin-right: 10px;
}

.result-container .song-result,
.result-container .playlist-result {
    border-radius: 5px; /* Rectangular shape for song album cover */
}

.result-content h3 {
    margin-right: auto;
}

.song-result-duration {
    margin-left: auto; /* Align duration to the far right */
    color: #6a1b9a; /* Spotify green */
}

/* Show the options container on hover */
.result-container:hover .three-dots-button {
    opacity: 1;
}

/* Placeholder styles */
.placeholder-image {
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #3a3a3a 25%, #505050 50%, #3a3a3a 75%);
    border-radius: 5px;
    animation: wave 2s infinite linear;
}

.placeholder-title,
.placeholder-subtitle {
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(90deg, #3a3a3a 25%, #505050 50%, #3a3a3a 75%);
    animation: wave 2s infinite linear;
}

.placeholder-title {
    width: 150px;
    margin-left: 15px;
}

.placeholder-subtitle {
    width: 100px;
    margin-left: 15px;
}

@keyframes wave {
    0% {
        background-position: -150px;
    }
    100% {
        background-position: 150px;
    }
}