<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AudioSync{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <!-- Logo -->
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo" class="logo">
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
