{% extends 'base.html' %}

{% block title %}Home - AudioSync{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to AudioSync!</h1>
    <p>Liked Songs: <a href="{{ links_data.links.liked_songs }}">{{ links_data.links.liked_songs }}</a></p>
    <p>Recommended: <a href="{{ links_data.links.recommended }}">{{ links_data.links.recommended }}</a></p>
    <p>My Artists: <a href="{{ links_data.links.my_artists }}">{{ links_data.links.my_artists }}</a></p>
    <p>Search: <a href="{{ links_data.links.search }}">{{ links_data.links.search }}</a></p>
    <p>My Playlists: <a href="{{ links_data.links.my_playlists }}">{{ links_data.links.my_playlists }}</a></p>
</div>
{% endblock %}
