<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to AudioSync</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="login-container">
            <h1>Welcome to AudioSync</h1>
            <form action="home.html" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>